@model IKDDS_Manager.ViewModels.MainTableViewModel
@{
    ViewData["Title"] = "RpsTable";
}

<h2>RpsTable</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Numer IKD.DS.560.</th>
        <th>Prowadzący postępowanie</th>

        <th>Nr RPS-I</th>
        <th>Nr RSD-I</th>
        <th>Data Wszczęcia</th>
        <th>Zakończyć do dnia</th>

        <th>Sposób zakończenia</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var el in Model.IKDDSModels)
    {
        if (el.RpsNumber != null)
        {
            <tr>
                <th>@el.Id</th>
                <th>@el.IKDDS</th>
                <th>@el.OfficerName</th>

                <th>@el.RpsNumber</th>
                <th>@el.RsdNumber</th>
                <th>@el.EntryData.ToString("dd-MM-yyyy")</th>
                <th>@el.FinalData.ToString("dd-MM-yyyy")</th>
                <th>@el.FinalOfInvestigation</th>
                <th>@Html.ActionLink("Edytuj", "Edit", "Summary", new { id = el.Id })</th>
                <th>@Html.ActionLink("Usuń", "Delete", "Summary", new { id = el.Id })</th>

            </tr>
        }

    }

</table>

