@model IKDDS_Manager.ViewModels.MainTableViewModel
@{
    ViewData["Title"] = "MainTable";
}

<h2>Lista wszystkich postępowań</h2>

<table class="table table-bordered">
    <tr>
        <th>L.dz.</th>
        <th>Numer IKD.DS.560.</th>     
        <th>Prowadzący postępowanie</th>
        <th>Nr RPS-I</th>
        <th>Nr RSD-I</th>
        <th>Data Wszczęcia</th>
        <th>Zakończono w dniu</th>
        <th>Kwalifikacja prawna</th>
        <th>Sposób zakończenia</th>

        <th>Data O.Z.</th>
    </tr>
   @{ int count = 0;}

    @foreach (var el in Model.IKDDSModels)
    {

        
        <tr class=@(el.RpsNumber != null ? "success" : "warning")>
            <th>@(++count)</th>
            <th>@el.IKDDS</th>           
            <th>@el.OfficerName</th>
            <th>@el.RpsNumber</th>
            <th>@el.RsdNumber</th>
            <th>@el.EntryData</th>
            <th>@el.RealEndDate</th>
            <th>@el.ArticleNumber</th>
            <th>@el.FinalOfInvestigation</th>
            <th>@el.OZDate</th>

        </tr>
    }

</table>

