@model IKDDS_Manager.ViewModels.IKDDSFormViewModel
@{
    ViewData["Title"] = "New";
}
<h2>Wprowadź nowy numer sprawy</h2>

@using (Html.BeginForm("IKDDSForm", "IKDDSModel", FormMethod.Post, new { @class = "form-group new-form" }))
{
    @Html.ValidationSummary(true, "Pola zaznaczone na czerwono są wymagane")

    <div class="form-inline">
        @Html.LabelFor(x => x.IKDDSModel.IKDDS, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(x => x.IKDDSModel.IKDDS, new { @class = "form-control" })

    </div>

    <br />

    <div class="form-inline">
        @Html.LabelFor(x => x.IKDDSModel.OfficerName, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(x => x.IKDDSModel.OfficerName, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-inline">
        @Html.LabelFor(x => x.IKDDSModel.RpsNumber, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(x => x.IKDDSModel.RpsNumber, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-inline">
        @Html.LabelFor(x => x.IKDDSModel.RsdNumber, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(x => x.IKDDSModel.RsdNumber, new { @class = "form-control" })
    </div>
    <br />

    <div class="form-inline">
        @Html.LabelFor(x => x.IKDDSModel.EntryData, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(x => x.IKDDSModel.EntryData, "{0:d MM yyyy}", new { @class = "form-control date-p", @id = "date", @name = "date", placeholder = "data zakończenia" })
        @Html.ValidationMessageFor(x => x.IKDDSModel.EntryData)
    </div>
    <br />

    <div class="form-inline">
        @Html.LabelFor(x => x.IKDDSModel.FinalData, new { @class = "col-sm-3 control-label" })
        @Html.TextBoxFor(x => x.IKDDSModel.FinalData, "{0:d MM yyyy}", new { @class = "form-control date-p", placeholder = "data zakończenia" })

    </div>

    <br />











    @Html.HiddenFor(m => m.IKDDSModel.Id)

    <button type="submit" class="btn btn-primary">Zapisz</button>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        var date_input = $('.date-p'); //our date input has the name "date"
        console.log(date_input);
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'yy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>
