@model IKDDS_Manager.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-group new-form" }))
{

    @Html.ValidationSummary(true, "Pola zaznaczone na czerwono są wymagane")


    @Html.LabelFor(x => x.User.Login)
    @Html.TextBoxFor(x => x.User.Login, new { @class = "form-control" })


    @Html.LabelFor(x => x.User.Password)
    @Html.TextBoxFor(x => x.User.Password, new { @class = "form-control" })


    @Html.LabelFor(x => x.User.RememberMe)
    @Html.CheckBoxFor(x => x.User.RememberMe, new { @class = "form-control" })

    @Html.HiddenFor(m => m.User.Id)

    <button type="submit" class="btn btn-primary">Zarejestruj</button>
}
