@model IKDDS_Manager.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-group new-form" }))
{

    @Html.ValidationSummary(true, "Pola zaznaczone na czerwono są wymagane")


    @Html.LabelFor(x => x.Login)
    @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Login)

    @Html.LabelFor(x => x.Password)
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "Password" })
    @Html.ValidationMessageFor(x => x.Password)



    @Html.LabelFor(x => x.RememberMe)
    @Html.CheckBoxFor(x => x.RememberMe, new { @class = "checkbox" })

    <br />




    <button type="submit" class="btn btn-primary">Zaloguj</button>
}
